@tailwind base;
@tailwind components;
@tailwind utilities;
/* #root {
   background-color: #000 !important;
   color: #fff !important;
} */
.dark {
  background-color: #000;
  color: #fff;
}
.slick-slide > div {
  margin: 0 5px;
}
.slick-arrow {
  display: none !important;
}
.slick-prev {
  left: -20px !important;
}
.slick-next {
  right: -20px !important;
}
.slick-prev:before,
.slick-next:before {
  color: #df1c1c !important;
}

.pagination {
  background: beige;
  border-radius: 12px;
  padding: 1rem 1rem;
}
/*  */
.Toaster {
  z-index: 10000000000000 !important;
}
/* Pagination */
.MuiPagination-root{
  background-color: #000 !important;
  padding: .5rem .5rem;
  border-radius: 1rem;
}
.MuiPagination-root button {
  color: white !important;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #ccc !important;
  color: #000 !important;
  font-weight: bold;
}